$primaryColor: #191d32;
$secondaryColor: #fc7753;
$backgroundColor: #f3ffb9;
$otherColor: #330036;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  color: $primaryColor;
  font-family: "Literata", serif;
}
